:root {
  --font-sans: system-ui, sans-serif;
  --primary-color: #0077b6;
  --link-color: #0077b6;
  --rounded: 0.25rem;
}

body,
button,
input,
select,
optgroup,
textarea {
  color: var(--text-color);
  font-family: var(--font-sans);
  line-height: 1.618;
}

p:not(:last-child) {
  margin-bottom: 1.5rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:not([class]):hover,
a:hover {
  color: #005f92;
}

blockquote {
  padding: 2rem;
  margin: 0;
}

html,
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  background: #fff;
}

hr {
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  height: 1px;
  margin: 2rem 0;
}

ul,
ol {
  margin: 0 0 1.5rem 0.75rem;
  padding: 0 0 0 0.75rem;
}

ul {
  list-style: square outside;
}
ul li:marker {
  color: var(--accent-color);
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

svg {
  vertical-align: middle;
}

figure {
  margin: 0;
}

table {
  margin: 0 0 1.5rem;
  width: 100%;
}

a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

.widget {
  margin: 0 0 2rem;
}

embed,
iframe,
object {
  max-width: 100%;
}

.alignleft {
  float: left;
  margin: 0 2rem 2rem 0;
}

.alignright {
  float: right;
  margin: 0 0 2rem 2rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.1;
  font-family: var(--font-display);
  font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
}

h1 {
  margin-top: 0;
  font-size: clamp(2.5em, 6vw, 6em);
}

h2 {
  font-size: clamp(2.5em, 4vw, 4em);
}

h3 {
  font-size: clamp(1.75em, 4vw, 2rem);
}

* h1:first-child,
* h2:first-child,
* h3:first-child,
* h4:first-child,
* h5:first-child,
* p:first-child {
  margin-top: 0;
}
* h1:last-child,
* h2:last-child,
* h3:last-child,
* h4:last-child,
* p:last-child,
* .widget:last-child {
  margin-bottom: 0;
}

/* Reduce Motion Support from sanitize.css */
@media (prefers-reduced-motion: reduce) {
  *,
::before,
::after {
    animation-delay: -1ms !important;
    /* 1 */
    animation-duration: 1ms !important;
    /* 1 */
    animation-iteration-count: 1 !important;
    /* 1 */
    background-attachment: initial !important;
    /* 2 */
    scroll-behavior: auto !important;
    /* 3 */
    transition-delay: 0s !important;
    /* 4 */
    transition-duration: 0s !important;
    /* 4 */
  }
}
.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.m-2 {
  margin: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.m-4 {
  margin: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.ml-4 {
  margin-left: 4rem;
}

.mx-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.m-6 {
  margin: 6rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mr-6 {
  margin-right: 6rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.ml-6 {
  margin-left: 6rem;
}

.mx-6 {
  margin-left: 6rem;
  margin-right: 6rem;
}

.my-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.m-8 {
  margin: 8rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mr-8 {
  margin-right: 8rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.ml-8 {
  margin-left: 8rem;
}

.mx-8 {
  margin-left: 8rem;
  margin-right: 8rem;
}

.my-8 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.p-2 {
  padding: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pl-2 {
  padding-left: 2rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p-4 {
  padding: 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pl-4 {
  padding-left: 4rem;
}

.px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.p-6 {
  padding: 6rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pr-6 {
  padding-right: 6rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.pl-6 {
  padding-left: 6rem;
}

.px-6 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.p-8 {
  padding: 8rem;
}

.pt-8 {
  padding-top: 8rem;
}

.pr-8 {
  padding-right: 8rem;
}

.pb-8 {
  padding-bottom: 8rem;
}

.pl-8 {
  padding-left: 8rem;
}

.px-8 {
  padding-left: 8rem;
  padding-right: 8rem;
}

.py-8 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media only screen and (min-width: 1248px) {
  .m-0-at-wide {
    margin: 0;
  }

  .mt-0-at-wide {
    margin-top: 0;
  }

  .mr-0-at-wide {
    margin-right: 0;
  }

  .mb-0-at-wide {
    margin-bottom: 0;
  }

  .ml-0-at-wide {
    margin-left: 0;
  }

  .mx-0-at-wide {
    margin-left: 0;
    margin-right: 0;
  }

  .my-0-at-wide {
    margin-top: 0;
    margin-bottom: 0;
  }

  .m-2-at-wide {
    margin: 2rem;
  }

  .mt-2-at-wide {
    margin-top: 2rem;
  }

  .mr-2-at-wide {
    margin-right: 2rem;
  }

  .mb-2-at-wide {
    margin-bottom: 2rem;
  }

  .ml-2-at-wide {
    margin-left: 2rem;
  }

  .mx-2-at-wide {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .my-2-at-wide {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .m-4-at-wide {
    margin: 4rem;
  }

  .mt-4-at-wide {
    margin-top: 4rem;
  }

  .mr-4-at-wide {
    margin-right: 4rem;
  }

  .mb-4-at-wide {
    margin-bottom: 4rem;
  }

  .ml-4-at-wide {
    margin-left: 4rem;
  }

  .mx-4-at-wide {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .my-4-at-wide {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .m-6-at-wide {
    margin: 6rem;
  }

  .mt-6-at-wide {
    margin-top: 6rem;
  }

  .mr-6-at-wide {
    margin-right: 6rem;
  }

  .mb-6-at-wide {
    margin-bottom: 6rem;
  }

  .ml-6-at-wide {
    margin-left: 6rem;
  }

  .mx-6-at-wide {
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .my-6-at-wide {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .m-8-at-wide {
    margin: 8rem;
  }

  .mt-8-at-wide {
    margin-top: 8rem;
  }

  .mr-8-at-wide {
    margin-right: 8rem;
  }

  .mb-8-at-wide {
    margin-bottom: 8rem;
  }

  .ml-8-at-wide {
    margin-left: 8rem;
  }

  .mx-8-at-wide {
    margin-left: 8rem;
    margin-right: 8rem;
  }

  .my-8-at-wide {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  .p-0-at-wide {
    padding: 0;
  }

  .pt-0-at-wide {
    padding-top: 0;
  }

  .pr-0-at-wide {
    padding-right: 0;
  }

  .pb-0-at-wide {
    padding-bottom: 0;
  }

  .pl-0-at-wide {
    padding-left: 0;
  }

  .px-0-at-wide {
    padding-left: 0;
    padding-right: 0;
  }

  .py-0-at-wide {
    padding-top: 0;
    padding-bottom: 0;
  }

  .p-2-at-wide {
    padding: 2rem;
  }

  .pt-2-at-wide {
    padding-top: 2rem;
  }

  .pr-2-at-wide {
    padding-right: 2rem;
  }

  .pb-2-at-wide {
    padding-bottom: 2rem;
  }

  .pl-2-at-wide {
    padding-left: 2rem;
  }

  .px-2-at-wide {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .py-2-at-wide {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .p-4-at-wide {
    padding: 4rem;
  }

  .pt-4-at-wide {
    padding-top: 4rem;
  }

  .pr-4-at-wide {
    padding-right: 4rem;
  }

  .pb-4-at-wide {
    padding-bottom: 4rem;
  }

  .pl-4-at-wide {
    padding-left: 4rem;
  }

  .px-4-at-wide {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .py-4-at-wide {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .p-6-at-wide {
    padding: 6rem;
  }

  .pt-6-at-wide {
    padding-top: 6rem;
  }

  .pr-6-at-wide {
    padding-right: 6rem;
  }

  .pb-6-at-wide {
    padding-bottom: 6rem;
  }

  .pl-6-at-wide {
    padding-left: 6rem;
  }

  .px-6-at-wide {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .py-6-at-wide {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .p-8-at-wide {
    padding: 8rem;
  }

  .pt-8-at-wide {
    padding-top: 8rem;
  }

  .pr-8-at-wide {
    padding-right: 8rem;
  }

  .pb-8-at-wide {
    padding-bottom: 8rem;
  }

  .pl-8-at-wide {
    padding-left: 8rem;
  }

  .px-8-at-wide {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .py-8-at-wide {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}
.container {
  padding-left: 2rem;
  padding-right: 2rem;
}
@media screen and (max-width: 800px) {
  .container.full-on-mobile {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 1248px) {
  .container {
    padding-left: 72px;
    padding-right: 71px;
  }
  .container--left {
    padding-right: 0;
  }
  .container--left > div:last-of-type {
    min-width: 50vw;
  }
  .container--right {
    padding-left: 0;
  }
  .container--right > div:first-of-type {
    min-width: 50vw;
  }
}
@media only screen and (min-width: 1920px) {
  .container {
    padding-left: 232px;
    padding-right: 231px;
  }
  .container--left {
    padding-right: 0;
  }
  .container--right {
    padding-left: 0;
  }
  .container.container--wide {
    padding-left: 150px;
    padding-right: 151px;
  }
}
@media only screen and (min-width: 2000px) {
  .container {
    padding-left: max(20rem, 20vw);
    padding-right: max(20rem, 20vw);
  }
  .container.container--wide {
    padding-left: max(15rem, 15vw);
    padding-right: max(15rem, 15vw);
  }
  .container--left {
    padding-right: 0;
  }
  .container--right {
    padding-left: 0;
  }
}

.container .container {
  padding-left: 0;
  padding-right: 0;
}

input,
textarea,
select,
button,
.a8button {
  flex-shrink: 1;
  appearance: none;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1;
  border-radius: var(--rounded);
  border-width: 1px;
  border-color: var(--primary-color);
  box-shadow: none;
  height: 2.5rem;
  border-style: solid;
}
input.invalid,
textarea.invalid,
select.invalid,
button.invalid,
.a8button.invalid {
  border-color: red;
  box-shadow: 0 0 0 0.125em rgba(255, 0, 0, 0.25);
  background: #ffe6e6;
}
input:focus,
textarea:focus,
select:focus,
button:focus,
.a8button:focus {
  border-color: var(--primary-color);
  outline-style: solid;
  outline-width: 1px;
  outline-offset: 1px;
  outline-color: #1db1ff;
}

button, .a8button {
  border-width: 0;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--primary-color);
  color: #fff;
  display: inline-flex;
  align-items: center;
}
button:hover, .a8button:hover {
  background-color: #1a85bd;
  outline: 0;
  color: #fff;
}

textarea {
  width: 100%;
  min-height: 4rem;
  resize: vertical;
  line-height: 1.168;
}

[type=radio],
[type=checkbox] {
  width: auto;
}

.form__item {
  display: flex;
  flex-direction: column;
}

.form__item label {
  font-size: 0.875rem;
}

.form__submit {
  align-self: flex-end;
}

.flex {
  display: flex;
}

.gap {
  gap: 0.5rem;
}

.linewidth {
  max-width: 80ch;
}

.siteheader {
  padding: 2rem;
  box-shadow: rgba(0, 119, 182, 0.2) 0px 7px 29px 0px;
}

.siteheader nav {
  display: flex;
  gap: 0.5rem;
}

.siteheader nav a {
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
  color: #000;
}

.siteheader nav a:hover {
  background: rgba(153, 172, 182, 0.2);
}

.siteheader nav a.active {
  background: #0077b6;
  color: #fff;
}

.dashboard {
  display: flex;
  border-radius: var(--rounded);
  border: 1px solid #c8e0ed;
  overflow: hidden;
}

.dashboard__sidebar {
  background: #0077b6;
  padding: 2rem 1rem;
  min-width: fit-content;
}

.dashboard__nav ul {
  color: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dashboard__nav a {
  color: #fff;
  display: block;
  padding: 0.25rem 1rem;
  border-radius: var(--rounded);
}
.dashboard__nav a[aria-current=true] {
  outline: 1px solid rgba(255, 255, 255, 0.25);
}
.dashboard__nav a:hover {
  background: #00669d;
  color: #fff;
}

.dashboard__content {
  background: #eff6fa;
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.dashboard__table {
  font-size: 0.875rem;
  border-collapse: collapse;
  margin: 0;
}

.dashboard__table thead tr th {
  border-bottom: 1px solid #c8e0ed;
  text-transform: uppercase;
  color: #0077b6;
  font-weight: 700;
}

.dashboard__table tr:not(:last-of-type) td {
  border-bottom: 1px solid #c8e0ed;
}

.dashboard__table th, .dashboard__table td {
  padding: 0.25rem;
}

.dashboard__table tr td:first-of-type {
  font-weight: 700;
}

.dashboard__table th {
  text-align: left;
}

.dashboard__dategroup {
  background: rgba(255, 255, 255, 0.25);
  padding: 1rem;
  border: 1px solid #c8e0ed;
  border-radius: var(--rounded);
}

.dbc {
  padding: 0.25rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
.dbc:not(:last-child) {
  border-bottom: 1px solid #c8e0ed;
}

.dbc__name {
  display: block;
  font-weight: 700;
  white-space: nowrap;
}

.dbc__actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.dbc__actions .a8button {
  font-size: 0.875rem;
  justify-content: center;
}

.dbc__prices {
  text-align: right;
}

/*# sourceMappingURL=app.css.map */
